!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title= t(:codicamed)
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body.application-background
    %div.h-100vh
      - if resource && signed_in?(resource&.model_name&.singular)
        = render partial: 'application/menu'
      = content_for :navbar
      = render partial: 'application/flash'
      = yield
